*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: rgba(158, 93, 209, 0.2);
}
.contact-page-bg-img{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?s=612x612&w=0&k=20&c=_vmYyAX0aFi-sHH8eYS-tLLNfs1ZWXnNB8M7_KWwhgg=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.contact-page-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: white;
    height: 400px;
}

/* Contact-page-banner-Responsive  */

@media(max-width:768px){
    .contact-page-bg-img{
        height: 300px;
    }
    .contact-page-container h1{
        height: 300px;
    }
}
@media(max-width:450px){
    .contact-page-container h1{
        font-size: 50px;
    }    
}