*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}
body{
    background-color: whitesmoke;
}
.loginform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container h1{
    text-align: center;
    font-size: 50px;
    color: black;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    /* border-color: whitesmoke;  */
    padding-bottom: 5%;
    padding-top: 5% ;
    background-color: rgba(158, 93, 209, 0.2);
    margin-top: 5%;
    border-radius: 16px;
}
.login-inputs{
    display: flex;
    flex-direction: column;
}
.login-inputs input{
    width: 40vw;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: grey;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgba(158, 93, 209, 0.2);
    font-family: "Dosis", sans-serif;
}
#login-email,#login-pass{
    margin-top: 50px;   
}
#login-pass{
    margin-top: 20px;
}
.login-inputs button{
    width: 40vw;
    height: 45px;
    background-color: #694da1;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
}
.login-inputs p{
    margin-top: 20px;
}
.login-inputs p span{
    color: #694da1;
    font-weight: 600;
}

/* login-form-Responsive  */

@media (max-width: 768px){
    .login-inputs input{
        width: 250px;
    }    
    .login-inputs button{
        width: 250px;
    }    
}
@media (max-width: 550px){
    .login-container{
        width: 90%;
    }
    .login-inputs input{
        width: 80vw;
    }    
    .login-inputs button{
        width: 80vw;
    }    
}
