*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}
body{
    background-color:rgba(158, 93, 209, 0.2);
}
.signupform{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   
}
.signup-container h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10%;
}
.signup-form-content{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    gap: 20px;
    align-items:center;
    /* padding-right: 10px; */
}
.signup-form-content input{
    height: 40px;
    width: 30vw;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid silver;
    font-size: 16px;
}
.signup-checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 30vw;
    margin-top: -15px;
}
.signup-checkbox #checkbox{
    width: 15px;
}
.signup-container p{
    color: #694da1;
    position: relative;
    top: 10px;
}
.signup-container .signup-submit{
    background-color: #694da1;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* signup-form-Responsive  */
@media (max-width:992px){
    .signup-container{
        width: 50%;
    }   
    .signup-form-content input{
        width: 40vw;
    }
    .signup-checkbox{
        width: 40vw;
    }
}
@media (max-width:768px){
    .signup-container{
        width: 50%;
    }   
    .signup-container h1{
        font-size: 35px;
    }
    .signup-form-content input{
        width: 40vw;
    }
    .signup-checkbox{
        width: 40vw;
    }    
    .signup-container p{
        font-size: 12px;
        top: 6px;
    }
}
@media (max-width:550px){
    .signup-container{
        width: 70%;
    }   
    .signup-container h1{
        font-size: 35px;
    }
    .signup-form-content input{
        width: 60vw;
    }
    .signup-checkbox{
        width: 60vw;
    }
}
@media (max-width:368px){
    .signup-container p{
        font-size: 12px;
        top: 13px;
    }
}