*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(158, 93, 209, 0.2);
}
.contact-page-banner-img{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)),url("https://media.istockphoto.com/id/1466890104/photo/contact-us-and-support-concept-and-digital-network-with-blue-space-background.jpg?s=612x612&w=0&k=20&c=LjaFwiA_-X18igeiXETE0fgOFjE8gVnWho9iQAvy8rE=");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.contact-page-content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: white;
    font-size: 70px;
    font-family: var(--sen-bold);
}

/* contact-page-banner-Responsive  */

@media(max-width:768px){
    .contact-page-banner-img{
        height: 300px;
    }
    .contact-page-content h1{
        height: 250px;
        font-size: 50px;
    }
}

/* contact-page-content  */

.contact-content-0{
    display: flex;
    justify-content: space-evenly;
}

.contact-content-1{
    height: 190px;
    width: 330px;
    background-color: #694da1;
    margin-top: -50px;
    border-radius:8px;
}

.contact-content-2{
    height: 190px;
    width: 330px;
    background-color: #694da1 ;
    margin-top: -50px;
    border-radius:8px;
}

.contact-content-3{
    height: 190px;
    width: 330px;
    background-color:#694da1 ;
    margin-top: -50px;
    border-radius:8px;
}

.contact-content i{
    font-size: 35px;
    align-items: center;
    color:  whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.contact-content i:hover{
    color:white;
}

.contact-content .p-1{
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
    font-family: var(--sen-regular);
}

.contact-content .p-2{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: -28px;
    color: whitesmoke;
    font-family: var(--sen-bold);
}

.contact-content .p-2-extra{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: -20px;
    line-height: 25px;
    color: white;
}

.contact-form-heading{
     text-align: center;
     overflow: hidden;
     margin-top: 10%;
}

.contact-form-heading h4{
    font-family: var(--sen-medium);
    color:#694da1;
}

.contact-form-heading h5{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--sen-bold);
}

.contact-form-content{
    text-align: center;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form-content .bug{
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
}

.phone-head{
    width: 230px;
}

.contact-form-content textarea{
    width: 750px;
    height: 150px;
    padding: 10px;
    font-size: 18px;
}
.contact-form-content .input-1{
    height: 50px;
    width: 220px;
    padding: 10px;
}
.contact-form-content .input-2{ 
    height: 50px;
    width: 220px;
    padding: 10px;
}
.contact-form-content .input-3{
    height: 50px;
    width: 220px;
    padding: 10px;
}
.contact-form-content button{
    margin-top: 70px;
    width: 180px;
    height: 50px;
    background-color: #8e6f9e;
    color: white;
    border: none;
    font-weight: bold;
    transition: all;
    transition: 0.3s;
}


.contact-form-content button:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transform: translateY(-5px);
}

.map-heading h5{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 50px;
    font-family: var(--sen-bold);
    font-weight: bold;
}

.map{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* Responsive contact page */

@media only screen and (max-width: 800px){
    .contact-form-content textarea{
        width: 400px;
    }
    .contact-form-content .bug{
        align-items: center;
    }
    .contact-form-content .bug input{
        width: 400px;
    }
}

@media only screen and (max-width: 450px){
    .contact-form-content textarea{
        width: 300px;
    }
    .contact-form-content .bug input{
        width: 300px;
    }
}

@media (max-width:992px){

    .contact-content-3{
        margin-top: 30px;
    }
}

@media (max-width:600px){
    
    .contact-content-2{
        margin-top: 30px;
    }
}

@media (max-width:350px){
    
    .contact-content-1{
        width: 290px;
        margin-top: 30px;
    }
    
    .contact-content-2{
        width: 290px;
        margin-top: 30px;
    }
    
    .contact-content-3{
        width: 290px;
        margin-top: 30px;
    }
    
}
