*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(158, 93, 209, 0.2);
}
.contact-page-banner-img{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)),url("../assets/images/contact-banner.jpg");
    /* height: 400px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}
.contact-page-content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    color: white;
    font-family: var(--sen-bold);
}

/* contact-page-banner-Responsive  */

@media(max-width:768px){
    .contact-page-banner-img{
        height: 250px;
    }
    .contact-page-content h1{
        height: 250px;
        font-size: 50px;
    }
}

/* contact-page-content  */

.contact-content{
    margin-bottom: 60px;
}

.contact-content-0{
    display: flex;
    justify-content: space-evenly;
}

.contact-content-1{
    height: 190px;
    width: 330px;
    background-color: #694da1;
    margin-top: -50px;
    border-radius:8px;
}

.contact-content-2{
    height: 190px;
    width: 330px;
    background-color: #694da1 ;
    margin-top: -50px;
    border-radius:8px;
}

.contact-content-3{
    height: 190px;
    width: 330px;
    background-color:#694da1 ;
    margin-top: -50px;
    border-radius:8px;
}

.contact-content i{
    font-size: 35px;
    align-items: center;
    color:  whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.contact-content i:hover{
    color:white;
}

.contact-content .p-1{
    text-align: center;
    margin-top: 20px;
    color: whitesmoke;
    font-family: var(--sen-regular);
}

.contact-content .p-2{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: -28px;
    color: whitesmoke;
    font-family: var(--sen-bold);
}

.mail{
    transform: translateX(-10px);
}

.contact-content .p-2s-extra{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: -20px;
    line-height: 25px;
    color: white;
}

.contact-form-section{
    margin-top: var(--top-spacing);
    background-color: var(--primary-color);
    padding: 32px;
    border-radius: 28px;
    /* width: 600px; */
}


.contact-form-content form{
    width: 100%;
}

.contact-form-section h1{
    color: white;
    font-size: 2.5rem;
    font-family: var(--sen-bold);
}

.contact-form-section label{
    display: inline;
    color: white;
    font-family: var(--sen-regular);
}

.contact-form-section span{
    display: inline;
    color: white;
    margin: 0 4px;
}

.contact-form-section input, textarea{
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    border: none;
    outline: transparent;
    font-family: var(--sen-regular);
    margin-top: 8px;
}


.contact-form-section .contact-form-img img{
    object-fit: cover;
    width: 100%;
}

.contact-form-section .purple-btn{
    width: 100%;
}

.map-heading{
    margin-top: var(--top-spacing);
}

.map-heading h5{
    font-size: 3rem;
    text-align: center;
    margin: 30px 0;
    font-family: var(--sen-bold);
}

.map-section{
    padding: 48px;
}

.map-section iframe{
    border: 2px solid var(--primary-color);
    border-radius: 16px;
}