.hero-section {
    height: 650px;
    /* aspect-ratio: 3/2; */
    width: 100%;
    clip-path: ellipse(90% 100% at 50% 0%);
    background: linear-gradient(85.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    position: relative;
}

.hero-section .carousel{
    height: 650px;
}


.hero-section .carousel .carousel-item{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    /* border: 2px solid yellow; */
    padding: 0 48px;
}

.carousel-item .c-content-div{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}
.carousel-item .c-content-div h1{
    font-family: var(--sen-bold);
    font-size: 3.2rem;
    color: white;
}

.carousel-item .c-content-div p{
    color: white;
    font-family: var(--sen-regular);
    font-size: 1.1rem;
}

.carousel-item .c-img-div img{
    object-fit: cover;
}


/* Carousel media queries */
@media (max-width: 992px) {
.carousel-item .c-content-div{
    width: 400px;
 }
.carousel-item .c-content-div h1{
    font-size: 2.5rem;
 }
 .carousel-item .c-content-div p{
    font-size: 1rem;
 }
 .carousel-item .c-img-div img{
    width: 350px;
 }   
}

@media (max-width: 768px){

.hero-section{
    clip-path: ellipse(110% 100% at 50% 0%);
} 
.hero-section .carousel .carousel-item{
    gap: 24px;
    margin-top: 32px;
}
.carousel-item{
    flex-direction: column;
}
 .carousel-item .c-content-div{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .carousel-item .c-content-div h1{
    font-size: 2rem;
 }
 .carousel-item .c-img-div img{
    width: 300px;
 }
}

@media (max-width: 576px){
    .hero-section .carousel .carousel-item{
        padding: 0 16px;
        margin-top: 4px;
    }
    .carousel-item .c-content-div{
        gap: 4px;
    }
    .carousel-item .c-content-div h1{
        font-size: 1.5rem;
    }
    .carousel-item .c-img-div img{
       width: 250px;
    }
}