*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* DancingScript for headings */

/* Regular */
@font-face {
    font-family: 'DancingScript-regular';
    src: url('../assets/fonts/DancingScript/DancingScript-Regular.ttf');
}

/* Medium */
@font-face {
    font-family: 'DancingScript-medium';
    src: url('../assets/fonts/DancingScript/DancingScript-Medium.ttf');
}

/* Bold */
@font-face {
    font-family: 'DancingScript-bold';
    src: url('../assets/fonts/DancingScript/DancingScript-Bold.ttf');
}


/* Sen font for paragraphs and buttons */

/* Regular */
@font-face {
    font-family: 'Sen-regular';
    src: url('../assets/fonts/Sen/Sen-Regular.ttf');
}

/* Medium */
@font-face {
    font-family: 'Sen-medium';
    src: url('../assets/fonts/Sen/Sen-Medium.ttf');
}

/* Semi Bold */
@font-face {
    font-family: 'Sen-semibold';
    src: url('../assets/fonts/Sen/Sen-SemiBold.ttf');
}

/* Bold */
@font-face {
    font-family: 'Sen-bold';
    src: url('../assets/fonts/Sen/Sen-Bold.ttf');
}

:root{
    --button-color: #8e6f9e;
    --bg-color:  rgba(158, 93, 209, 0.2);
    --primary-color: #694da1;
    --accent-color: #f4c542;
    --dancing-regular: 'DancingScript-regular';
    --dancing-medium: 'DancingScript-medium';
    --dancing-bold: 'DancingScript-bold';
    --sen-regular: 'Sen-regular';
    --sen-medium: 'Sen-medium';
    --sen-semibold: 'Sen-semibold';
    --sen-bold: 'Sen-bold';
    --space-1: 1px;
    --space-2: 2px;
    --space-3: 3px;
    --top-spacing: 100px;
}


/* Banner of webpages */
.banner{
    height: 350px;
}
.banner h1{
    font-size: 4rem;
}

@media (max-width: 576px){
    .banner{
        height: 250px;
    }

    .banner h1{
        font-size: 2.5rem;
    }
}

/* shop button pre styled */

.purple-btn{
    text-decoration: none;
    color: white;
    background-color: var(--button-color);
    padding: 12px 48px;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    font-family: var(--sen-regular);
    transition: all 0.3s ease-in-out;
}

.purple-btn:active{
    transform: scale(0.95);
}

.purple-btn:hover{
    background-color: transparent;
    border: 2px solid white;
}

body{
    background-color: var(--bg-color);
}

/* Navbar styling goes here */

header nav{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    width: 100%;
    z-index: 1000;
    top: 0;
}

header .sticky{
    position: fixed;
    left:  0;
    top: 0;
    background-color: white;
    -webkit-transition: all 15ms ease-in-out;
    -moz-transition: all 15ms ease-in-out;
    -o-transition: all 15ms ease-in-out;
    -ms-transition: all 15ms ease-in-out;
    transition: all 15ms ease-in-out;
    animation-name: stickyAnimation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both ;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 2px 3px rgba(83, 83, 83, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(83, 83, 83, 0.1);
    box-shadow: 0 2px 3px rgba(83, 83, 83, 0.1);
}


@keyframes stickyAnimation {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


header nav .collapse-btn{
    display: none;
    background-color: transparent;
    border: none;
}

header nav .collapse-btn img{
    width: 1.8rem;
    filter: invert(1);
}

header nav .nav-links-div, .nav-logo-div, .nav-icons-div{
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

header nav .nav-link-ul{
    display: flex;
    width: 100%;
    padding-left: 0 !important;
}

header nav .nav-link-ul li{
    list-style: none;
    margin: 0 16px;
    font-family: var(--sen-regular);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    position: relative;
}

header nav .nav-link-ul li::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    top: 28px;
    left: 0;
    border-radius: 5px;
    background-color: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

header nav .nav-link-ul li:hover::before{
    width: 100%;
}

header nav .nav-link-ul li .link{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
}


header nav .nav-logo-div{
    padding-right: 0;
    padding-top: 20px;
    color: white;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .nav-logo-div img{
    width: 72px;
    height: 70px;
    aspect-ratio: 3/2;
}

header nav .nav-links-div{
    justify-content: flex-start;
}

header nav .nav-icons-div{
    justify-content: flex-end;
}

header nav .nav-icons-div img{
    margin: 0 10px;
    width: 1.4rem;
    cursor: pointer;
    filter: invert(1);
}

header .offcanvas{
        background-color: var(--primary-color);
    width: 250px !important;
}

header .offcanvas-links{
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

header .offcanvas-links li{
    list-style: none;
    font-family: var(--sen-medium);
    font-size: 1.6rem;
}

header .offcanvas-links li a{
    text-decoration: none;
    color: whitesmoke;
}

/* Navbar styling ends here */


/* Media queries */
@media (max-width: 992px){
    header nav .nav-links-div{
        justify-content: flex-start;
    }
    header nav .nav-link-ul{
        display: none;
    }
    header nav .collapse-btn{
        display: block;
    }
    header nav .nav-icons-div img{
        margin: 0 6px;
        width: 1.2rem;
    }
}

@media (max-width: 576px){
    header nav{
        padding: 0 16px;
    }
    header nav .collapse-btn img{
        width: 1.5rem;
    }
    header nav .nav-icons-div img{
        width: 1.1rem;
    }
}

@media (max-width: 390px){
    header nav .nav-logo-div{
        padding-right: 10px;
    }
    header nav .nav-logo-div #logo{
        height: 50px;
    }    
}

/* Login modal styling */


#loginModal .modal-body{
    position: relative;
    padding: 0 !important;
}

#login-close{
    position: absolute;
    right: 16px;
    top: 20px;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
}

.login-container h1{
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: var(--sen-bold);
}

.login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-inputs input{
    width: 400px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: rgb(40, 40, 40);
    border-radius: 8px;
    outline: none;
    border: 1px solid rgba(158, 93, 209, 0.2);
    font-family: var(--sen-regular);
}
#login-email,#login-pass{
    margin-top: 50px;   
}
#login-pass{
    margin-top: 20px;
}
.login-inputs #loginsubmit{
    width: 400px;
    height: 45px;
    background-color: var(--primary-color);
    font-family: var(--sen-regular);
    color: white;
    font-size: 1.1rem;
    /* font-weight: 600; */
    border: none;
    border-radius: 8px;
    margin-top: 30px;
}
.login-inputs p{
    margin-top: 20px;
}
.login-inputs p span{
    color: #694da1;
    font-weight: 600;
}

/* login-form-Responsive  */

@media (max-width: 768px){
    .login-inputs input{
        width: 400px;
    }    
    .loginsubmit{
        width: 400px;
    }    
}
@media (max-width: 550px){
    .login-inputs input{
        width: 80vw;
    }    
    .loginsubmit{
        width: 80vw;
    }    
}
/* Login form styling */


/* Signup form styling */
#signupModal .modal-body{
    position: relative;
    padding: 0 !important;
}

#signup-close{
    position: absolute;
    right: 16px;
    top: 20px;
}

.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 5%;
    padding-bottom: 5%;
    flex-direction: column;
   
}
.signup-container h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10%;
    font-family: var(--sen-bold);
}
.signup-form-content{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    gap: 20px;
    align-items:center;
    font-family: var(--sen-regular);
}
.signup-form-content input{
    height: 40px;
    width: 30vw;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid silver;
    font-size: 16px;
    font-family: var(--sen-regular);
}
.signup-checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 30vw;
    margin-top: -15px;
    font-family: var(--sen-regular);
}
.signup-checkbox #checkbox{
    width: 15px;
}
.signup-container p{
    color: #694da1;
    position: relative;
    top: 10px;
    font-family: var(--sen-regular);
}
.signup-container .signup-submit{
    background-color: #694da1;
    color: white;
    font-size: 18px;
    /* font-weight: 600; */
    font-family: var(--sen-regular);

}

/* signup-form-Responsive  */
@media (max-width:992px){
    .signup-container{
        width: 100%;
    }   
    .signup-form-content input{
        width: 45vw;
    }
    .signup-checkbox{
        width: 45vw;
    }
}
@media (max-width:768px){
    .signup-container{
        width: 100%;
    }
    .signup-form-content{
        width: 100%;
    }   
    .signup-container h1{
        font-size: 35px;
    }
    .signup-form-content input{
        width: 80%;
    }
    .signup-checkbox{
        width: 80%;
    }    
    .signup-container p{
        font-size: 12px;
        top: 6px;
    }
}
@media (max-width:550px){
    .signup-container{
        width: 100%;
    }   
    .signup-form-content{
        width: 100%;
    }
    .signup-container h1{
        font-size: 35px;
    }
    .signup-form-content input{
        width: 80%;
    }
    .signup-checkbox{
        width: 80%;
    }
}
@media (max-width:368px){
    .signup-container p{
        font-size: 12px;
        top: 13px;
    }
}
/* Signup form styling */

/* Hero section and carousel styling goes here */
.hero-section {
    height: 650px;
    width: 100%;
    clip-path: ellipse(90% 100% at 50% 0%);
    background-color: var(--primary-color);
    position: relative;
}

.hero-section .carousel{
    height: 650px;
}


.hero-section .carousel .carousel-item{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    /* border: 2px solid yellow; */
    padding: 0 48px;
}

.carousel-item .c-content-div{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}
.carousel-item .c-content-div h1{
    font-family: var(--sen-bold);
    font-size: 3.2rem;
    color: white;
}

.carousel-item .c-content-div p{
    color: white;
    font-family: var(--sen-regular);
    font-size: 1.1rem;
}

.carousel-item .c-img-div img{
    object-fit: cover;
}


/* Carousel media queries */
@media (max-width: 992px) {
.carousel-item .c-content-div{
    width: 400px;
 }
.carousel-item .c-content-div h1{
    font-size: 2.5rem;
 }
 .carousel-item .c-content-div p{
    font-size: 1rem;
 }
 .carousel-item .c-img-div img{
    width: 350px;
 }   
}

@media (max-width: 768px){

.hero-section{
    clip-path: ellipse(110% 100% at 50% 0%);
} 
.hero-section .carousel .carousel-item{
    gap: 24px;
    margin-top: 32px;
}
.carousel-item{
    flex-direction: column;
}
 .carousel-item .c-content-div{
    width: 100%;
    text-align: center;
    align-items: center;
 }
 .carousel-item .c-content-div h1{
    font-size: 2rem;
 }
 .carousel-item .c-img-div img{
    width: 300px;
 }
}

@media (max-width: 576px){
    .hero-section .carousel .carousel-item{
        padding: 0 16px;
        margin-top: 32px;
    }
    .carousel-item .c-content-div{
        text-align: left;
        align-items: flex-start;
        gap: 4px;
        padding: 0 20px;
    }
    .carousel-item .c-content-div h1{
        font-size: 1.5rem;
    }
    .carousel-item .c-img-div img{
       width: 250px;
    }
}

/* Trending products section */

.Trending-products{
    margin-top: var(--top-spacing);
}
.trending-products-heading h1{
    font-size: 3rem;
    font-family: var(--sen-bold);
    text-align: center;
}
.Trending-products-container .row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
.Trending-products-container{
    display: flex;
}
.trending-products-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-color:whitesmoke;
    box-sizing: border-box;
    padding: 16px;
    margin: 24px 16px;
    height: 350px;
    /* cursor: pointer; */
    transition: all 0.2s ease-in-out;
}
.card-img-top{
    height: 350px;
    position: relative;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    transition: all ease 0.6s;
}
.card-body{
    font-family: var(--sen-regular);
    padding: 16px 12px 0 12px
}

.card-body .card-top-content h5{
    font-size: 1.1rem;
    font-weight: 600;
}

.card-body .card-middle-content{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.trending-cards-rating i{
    color: goldenrod;
    font-size: 0.9rem;  
    margin: 0 1px;
}


.view-product-btn{
    margin-top: 12px;
    border: none;
    background-color: var(--button-color);
    width: 120px;
    height: 40px;
    color: whitesmoke;
    border-radius: 36px;
    outline: transparent;
    font-size: 0.9rem;
    font-family: var(--sen-regular);
    transition: all 0.2s ease-in-out;
}

.view-product-btn:hover{
    background-color: #694da1;
}

.view-product-btn:active{
    transform: scale(0.92);
}

/* .card:hover .product-cart-btn{
    opacity: 1;
    transform: translateY(0px);
} */
/* Trending-products-Responsive  */

@media (max-width: 960px){
    .card{
        height: 400px;
        width: 350px !important;
    }   
}
@media (max-width: 760px){
    .card{
        height: 520px;
        width: 500px !important;
    }       
    .trending-products-card-title{
        font-size: 30px;
    }   
}
@media (max-width: 520px){
    .trending-products-heading h1{
        font-size: 2rem;
    }
    .card{
        height: 400px;
        width: 350px !important;
    }      
}
@media (max-width: 370px){
    .card{
        height: 380px;
        width: 300px !important;
    }      
}


/* Free delivery section styling */
.free-delivery-section{
    /* background: linear-gradient(82deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%); */
    background-color: var(--primary-color);
    border-radius: 28px;
    padding: 32px;
    overflow: hidden;
    margin-top: var(--top-spacing);
}

.free-delivery-section .f-delivery-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* border: 2px solid yellow; */
}

.free-delivery-section .f-delivery-content h2{
    font-family: var(--sen-semibold);
    font-size: 2.5rem;
    color: white;
}

.free-delivery-section .f-delivery-content h1{
    font-family: var(--sen-bold);
    font-size: 5rem;
    color: white;
    line-height: 1.1;
}

.free-delivery-section .f-delivery-content p{
    color: white;
    font-size: 1.1rem;
    font-family: var(--sen-regular);
}

.free-delivery-section .f-delivery-content .purple-btn{
    margin-top: 16px;
    ;
}

.free-delivery-section .f-delivery-img img{
    transform: translateY(30pxs);
    filter: drop-shadow(0px 2px 7px #0000005a);
}


/* Free delivery section responsiveness */
@media (max-width: 1200px){
    .free-delivery-section .f-delivery-content h1{
        font-size: 4rem;
    }
}

@media (max-width: 992px){
    .free-delivery-section .f-delivery-content h1{
        font-size: 3rem;
    }
}

@media (max-width: 768px){
    .free-delivery-section .f-delivery-content h2{
        font-size: 2rem;
    }
    .free-delivery-section .f-delivery-content p{
        font-size: 1rem;
    }
}

@media (max-width: 576px){
    .free-delivery-section{
        border-radius: 0;
        padding: 20px;
    }
    .free-delivery-section .f-delivery-content .purple-btn{
        width: 100%;
        text-align: center;
    }
    
    .free-delivery-section .f-delivery-content h2{
        font-size: 1.5rem;
    }
    .free-delivery-section .f-delivery-content h1{
        font-size: 2.5rem;
    }
} 

/* Products category styling */


.product-categories-section {
    margin-top: var(--top-spacing);    
    padding: 0 48px;
}

.product-categories-section h1{
    font-family: var(--sen-bold);
    font-size: 3rem;
}

.product-categories-section .c-column-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
}

.c-column{
    height: 300px;
    width: 100%;
    border-radius: 24px;
    transition: all 0.3s ease;
    padding: 24px;
    color: #444444;
    font-family: var(--sen-semibold);
    cursor: pointer;
    text-decoration: none;
}

.cat-btn{
    /* display: none; */
    opacity: 0;
    font-size: 0.9rem;
    padding: 6px 12px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.c-column:hover .cat-btn{
    /* width: 120px;
    height: 40px; */
    opacity: 1;
}

.c-column:active{
    transform: scale(0.99);
}

.c-column:hover{
    box-shadow: 0 0 7px 5px rgba(158, 93, 209, 0.2);

}

.c-column h5{
    font-family: var(--sen-regular);
    position: relative;
    top: 10px;
}
    
.c-column-1 {
    background: url('../assets/images/cat-img-1.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: span 2 / span 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.c-column-1 h2{
    font-size: 3.5rem;
}

.c-column-2 {
    background: url('../assets/images/cat-img-2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.c-column-2 h5{
    font-size: 1.1rem;
}

.c-column-2 h2{
    font-size: 2rem;
}

.c-column-3 {
    background: url('../assets/images/cat-img-3.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.c-column-3 h5{
    font-size: 1.1rem;
}

.c-column-3 h2{
    font-size: 3rem;
}

.c-column-4 {
    background: url('../assets/images/cat-img-4.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.c-column-4 h5{
    font-size: 1.1rem;
}

.c-column-4 h2{
    font-size: 3rem;
}


.c-column-5 {
    background: url('../assets/images/cat-img-5.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.c-column-5 h5{
    font-size: 1.1rem;
}

.c-column-5 h2{
    font-size: 2.4rem;
}

.c-column-6 {
    background: url('../assets/images/cat-img-6.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.c-column-6 h5{
    font-size: 1.1rem;
}

.c-column-6 h2{
    font-size: 3.5rem;
}

.c-column-7 {
    background: url('../assets/images/cat-img-7.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: span 4 / span 4;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
 
.c-column-7 h5{
    font-size: 1.1rem;
}

.c-column-7 h2{
    font-size: 3.5rem;
}

/* Product categories media queries */
@media(max-width: 992px){
    .c-column-1 {
        grid-column: span 2 / span 2;
    }

    .c-column-1 h2{
        font-size: 2.5rem;
    }
    
    .c-column-2 {
        grid-column: span 2 / span 2;
        grid-column-start: 3;
    }
    
    .c-column-3 {
        grid-column: span 4 / span 4;
        grid-row-start: 2;
    }
    
    .c-column-4 {
        grid-column: span 2 / span 2;
        grid-row-start: 3;
    }
    
    .c-column-5 {
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 3;
    }
    
    .c-column-6 {
        grid-column: span 4 / span 4;
        grid-row-start: 4;
    }
    
    .c-column-7 {
        grid-column: span 4 / span 4;
        grid-row-start: 5;
    }   
}

@media (max-width: 576px){
    .product-categories-section{
        padding: 0 16px;
    }
    .product-categories-section h1{
        font-size: 2rem;
    }
    .product-categories-section .c-column-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .c-column{
        grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
    }
    .c-column-7 h2{
        font-size: 2.5rem;
    }
}


/* Feedback form styling */
.feedback-form{
    display: flex;
     justify-content: center;
    align-items: center; 
    margin-top: 100px; 
}
.feedback-container{
    border: 2px solid #694da1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 0 50px;
    border-radius: 16px;
    background:  #694da1;
    flex-direction: row-reverse;
}
.feedback-img img{
    width: 600px;
    height: 620px;
    object-fit: cover;
}
.feedback-container h4{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    color: white;
    font-family: var(--sen-medium);
}
.feedback-container form{
    width: 50%;
    margin-top: 5%;
    margin-bottom:5% ;
}
.feedback-container form input{
    height: 50px;
    border: none;
    outline: none;
    font-family: var(--sen-regular);
}
.feedback-container label{
    color: white;
    font-family: var(--sen-regular);
}
.feedback-container .btn{
    color: white;
    background-color:  #8e6f9e;
    border-color:  #8e6f9e;
    outline: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: var(--sen-regular);
    transition: all ease-in-out 0.3s;
}
.feedback-container .btn:hover{
    background: transparent;
    color: white;
    border: 2px solid white;
}

/* Feedback-form-Responsive  */

@media (max-width:1200px){
    form{
        width: 60%;
    }
    .feedback-img img{
        width: 550px;
        height: 590px;
        display: flex;
        justify-content: end;
    }
    .feedback-container{
        display: flex;
        padding: 0px 20px;
    }
    .feedback-container h4{
        font-size: 20px;
    }
}
@media (max-width:992px){
    form{
        width: 50%;
    }
    .feedback-img img{
        width: 400px;
        height: 590px;
    }
    .feedback-container{
        display: flex;
        gap: 20px;
    }
    .feedback-container h4{
        font-size: 18px;
    }    
}
@media (max-width:800px){
    form{
        width: 50%;
    }
    .feedback-img img{
        width: 350px;
        height: 480px;
    }
    .feedback-container{
        display: flex;
        gap: 20px;
    }
    .feedback-container h4{
        font-size: 18px;
    }
}
@media (max-width:768px){
    .feedback-container form{
        width: 80% !important;
    }
    .feedback-img img{
        width: 550px;
        height: 500px;
    }
    .feedback-container{
        display: flex;
        flex-direction: column;
    }
    .feedback-container h4{
        font-size: 25px;
    }
    .feedback-container label{
        font-size: 1.1rem;
    }
}
@media (max-width:600px){
    .feedback-container{
        width: 80%;
    }
    .feedback-img img{
        width: 450px;
        height: 500px;
    }   
}
@media (max-width:500px){
    .feedback-container{
        width: 80%;
    }
    .feedback-img img{
        width: 300px;
        height: 300px;
    }
    .feedback-container form{
        width: 100% !important;
    }
    
    .feedback-container .btn{
        margin-bottom: 10px;
    }   
}
@media (max-width:400px){
    .feedback-container{
        width: 100%;
        height: 100%;
    }
    .feedback-img img{
        width: 300px;
        height: 300px;
    }
    .feedback-container form{
        width: 100% !important;
    }   
}

/* Feedback form styling */



/* footer-start  */
.footer-section{
    width: 100%;
    /* background-color:rgba(0, 0, 0, 0.8); */
    background-color: var(--primary-color);
    margin-top: var(--top-spacing);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin:0px 80px;
    color: whitesmoke; 
    font-family: 'Sen-regular';
}
.footer-content-1{
    margin-top: 5%;
}
.footer-heading-1 img{
    width: 70px;
}

.footer-content-1 ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.footer-content-1 ul li{
    list-style: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0px;
}
.footer-content-1 ul li i{
    font-size: 18px;
    color: whitesmoke;
}
.footer-socialmedia-icons {
    font-size: 22px;
    display: flex;
    gap: 30px;
    margin-top: 15%;
}
.footer-socialmedia-icons a{
    color: whitesmoke;
}
.footer-content-2{
    margin-top: 6%;
}
.footer-content-2 h6{
    font-family: var(--sen-semibold);
    font-size: 2.2vw;
    color: whitesmoke;
}
.footer-content-2 ul{
    margin-top: 20%;
    padding: 0;
}
.footer-content-2 ul li{
    list-style: none;
    padding: 5px 0px;
}
.footer-content-2 ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}
.footer-content-3{
    margin-top: 6%;
}
.footer-content-3 h6{
    font-family: var(--sen-semibold);
    font-size: 2.2vw;   
    color: whitesmoke;
}
.footer-content-3 p{
    font-size: 18px;
    width: 380px;
    margin-top: 10%;
}
.footer-input{
    display: flex;
}
.footer-mail{
    height: 50px;
    width: 250px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    outline: none;
}
.footer-btn{
    width: 120px;
    height: 50px;
    background-color:#8e6f9e;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    border: 1px solid #8e6f9e;
    transition: all ease-in-out 0.3s;
}
.footer-btn:hover{
    background-color: transparent;
    border-color: white;
}
.footer-line{
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
    display: inline-block;
    margin-top: 5%;
}
.copyrightline{
    color: whitesmoke;
    font-family: 'Sen-regular';
    padding-bottom: 1%;
}
.footer-copyright-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0px 80px;
}
.copyrightline p{
    margin-top: 15px;
}
.copyrightline i{
    color:  #8e6f9e;
}
.footer-payment-methods{
    display: flex;
    gap: 10px;
}
.footer-img-1{
    width: 40px;
    height: 25px;
    border-radius: 5px;
}
.footer-img-2{
    width: 40px;
    height: 25px;
    border-radius: 5px;
}
.footer-img-3{
    width: 40px;
    height: 25px;
    border-radius: 5px;
}
.footer-img-4{
    width: 40px;
    height: 25px;
    border-radius: 5px;
}

/* Footer-Responsive  */

@media (max-width:992px){
    .footer-container{
        margin:0px 50px;
    }       
    .footer-copyright-content{
        margin: 0px 50px;
    }
}

@media (max-width:850px){
    .footer-container{
        margin:0px 20px;
    }       
    .footer-copyright-content{
        margin: 0px 20px;
    }
    .footer-content-1 ul li{
        font-size: 16px;
        gap: 10px;
    }
    .footer-content-2 ul li a{
        font-size: 16px;
    }
    .footer-content-3 p{
        font-size: 16px;
        width: 300px;
    }
    .footer-mail{
        width: 200px;
    }
    .footer-btn{
        width: 100px;
    }
    .footer-socialmedia-icons {
        gap: 20px;
    }
    .copyrightline p{
        font-size: 14px;
    }
}

@media (max-width:700px){
    .footer-container{
        display: flex;
        flex-direction: column;
        margin:0px 50px;
    }
    .footer-content-1{
        margin-top: 15%;
    }
    .footer-heading-1 h4{
        font-size: 8vw;
    }
    .footer-content-1 ul{
        margin-top: 5%;
    }
    .footer-content-1 ul li{
        font-size: 20px;
        padding: 8px 0px;
    }
    .footer-content-1 ul li i{
        font-size: 20px;
    }
    .footer-socialmedia-icons {
        font-size: 25px;
        /* margin-top: 10%; */
    } 
    .footer-content-2{
        margin-top: 6%;
    }
    .footer-content-2 h6{
        font-size: 30px;
        margin-top: 10%;
    }
    .footer-content-2 ul{
        margin-top: 5%;
    }
    .footer-content-2 ul li{
        padding: 8px 0px;
    }
    .footer-content-2 ul li a{
        font-size: 20px;
    }
    .footer-content-3{
        margin-top: 6%;
    }
    .footer-content-3 h6{
        font-size: 30px;   
    }
    .footer-content-3 p{
        font-size: 20px;
        width: 380px;
        margin-top: 5%;
    }
    .footer-input{
        margin-top: 5%;
    }  
    .footer-copyright-content{
        margin: 0px 50px;
    }
    .copyright-para p{
        font-size: 16px;
    }
    .footer-copyright-content{
        display: block;
        /* justify-content: center; */
        align-content: center;
        text-align: center;
    }
    .footer-payment-methods{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:450px){
    .footer-container{
        margin: 0px 30px;
    }
    .footer-content-3 p{
        width: 100%;
    }
    .copyright-para p{
        font-size: 14px;
    }
}

@media (max-width: 356px){
    .footer-mail{
        padding: 5px;
        width: 150px;
    }
}