.products-page-banner{
    width: 100%;
    /* height: 350px; */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/products-banner.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center top;
    color: white;
    font-family: var(--sen-bold);
    align-content: center;
    text-align: center;
}

.all-products-banner{
    width: 100%;
    /* height: 350px; */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/all-products-banner.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: var(--sen-bold);
    align-content: center;
    text-align: center;
}

/* .products-page-banner h1, .all-products-banner h1{
    font-size: 4rem;
} */

.all-products-container{
    margin-top: var(--top-spacing) ;
}   

.view-more-container{
    display: flex;
    justify-content: flex-end;
}

.view-more-btn{
    outline: transparent;
    background-color: var(--button-color);
    color: white;
    font-family: var(--sen-regular);
    padding: 5px 10px;
    border-radius: 36px;
    text-decoration: none;
    font-size: 0.9rem;
}

.view-more-btn:active{
    transform: scale(0.97);
}


.more-products{
    font-family: var(--sen-regular);
}


.cat-heading h1{
    font-family: var(--sen-bold);
    font-size: 3rem;
}

@media (max-width: 768px){
    .cat-heading h1{
        text-align: center;
    }
    .view-more-container{
        justify-content: center;
        margin-top: 20px;
    } 
}



/* Single product page styling */

.purple-navbar{
    background-color: var(--primary-color);
}

.purple-navbar .nav-logo-div{
  /* margin-bottom: 20px; */
  padding-top: 0 !important;
}

.product-page-main{
    margin-top: 150px;
}

.currency{
    font-size: 1rem;
    font-family: var(--sen-regular);
  }
  .product-name{
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    font-family: var(--sen-bold);
  }
  .product-price{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--sen-regular);
  }
  .product-img-div{
    display: flex;
  }
  .product-details-div{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--sen-regular);
  }
  .main-img-div img {
    width: 350px;
    border-radius: 23px;
  }
  .other-img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .other-img-div img {
    margin: 7px 30px;
    cursor: pointer;
    width: 100px;
    border-radius: 23px;
  }
  .stars-div {
    position: relative;
    bottom: 7px;
  }
  .stars-div i{
    color: goldenrod;
    margin: 4px 2px;
    font-size: 0.9rem;
  }
  .quantity-and-cart{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-family: var(--sen-regular);
  }
  .quantity-and-cart label{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: var(--sen-regular);
  } 
  #quantity-input{
      width: 50px;
      text-align: center;
      background-color: transparent;
      border: 0.5px solid var(--primary-color);
      border-radius: 28px;
      font-family: var(--sen-regular);
      color: var(--primary-color);
  }
  #add-to-cart-btn{
      background-color: var(--primary-color);
      color: white;
      width: 300px;
      height: 60px;
      font-size: 1.1rem;
      letter-spacing: 1px;
      border: 1px solid var(--primary-color);
      border-radius: 42px;
      transition: all;
      transition-duration: 0.3s;
      font-family: var(--sen-regular);
  }
  #add-to-cart-btn:hover{
      background-color: transparent;
      color: var(--primary-color);
  }
  


  /* media queries for single product page */
  @media only screen and (max-width: 1024px){
    .other-img-div img{
      margin: 7px 10px;
      width: 60px;
    }
  }

  @media (max-width: 992px){
    .product-page-main{
      margin-top: 0;
    }
    .product-img-div{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .main-img-div{
        padding-top: 100px;
    }
    .other-img-div{
        flex-direction: row;
        margin-top: 12px;
    }

    #quantity-input{
      margin-bottom: 16px;
    }
  }

  @media (max-width: 480px){
    .main-img-div{
        padding-top: 80px;
      }
      .other-img-div{
        margin-bottom: 15px;
      }
      .other-img-div img{
        width: 70px;
      }
      .main-img-div img{
        width: 100%;
      }
      .quantity-and-cart{
        flex-direction: column;
        align-items: flex-start;
      }
      #add-to-cart-btn{
        width: 100%;
        font-size: 18px;
      }
  }