*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #F7F7F8;
    --primary-color: #3795BD;
}

body{
    height: 100%;
    background-color: #3795BD;
}

/* Navbar styling goes here */

header nav{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    width: 100%;
    z-index: 1000;
}

header .sticky{
    position: fixed;
    left:  0;
    top: 0;
    background-color: var(--bg-color);
    -webkit-transition: all 15ms ease-in-out;
    -moz-transition: all 15ms ease-in-out;
    -o-transition: all 15ms ease-in-out;
    -ms-transition: all 15ms ease-in-out;
    transition: all 15ms ease-in-out;
    animation-name: stickyAnimation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both ;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
    box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
}

@keyframes stickyAnimation {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


header nav .collapse-btn{
    display: none;
    background-color: transparent;
    border: none;
}

header nav .collapse-btn img{
    width: 1.8rem;
}

header nav .nav-links-div, .nav-logo-div, .nav-icons-div{
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

header nav .nav-link-ul{
    display: flex;
    width: 100%;
    padding-left: 0 !important;
}

header nav .nav-links-div ul li{
    list-style: none;
    margin: 0 16px;
}

header nav .nav-links-div ul li a{
    text-decoration: none    ;
    color: black;
}

header nav .nav-logo-div{
    padding-right: 16px;
}

header nav .nav-links-div{
    justify-content: flex-start;
}

header nav .nav-icons-div{
    justify-content: flex-end;
}

header nav .nav-icons-div img{
    margin: 0 10px;
    width: 1.4rem;
    cursor: pointer ;
}

header .offcanvas{
    background-color: var(--bg-color);
    width: 250px !important;
}

header .offcanvas-links{
    /* border: 2px solid red; */
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

header .offcanvas-links li{
    list-style: none;
    font-size: 1.6rem;
}

header .offcanvas-links li a{
    text-decoration: none;
    color: black
}

/* Navbar styling ends here */


/* Media queries */
@media (max-width: 992px){
    header nav .nav-links-div{
        justify-content: flex-start;
    }
    header nav .nav-link-ul{
        display: none;
    }
    header nav .collapse-btn{
        display: block;
    }
    header nav .nav-icons-div img{
        margin: 0 6px;
        width: 1.2rem;
    }
}

@media (max-width: 576px){
    header nav{
        padding: 0 16px;
    }
    
}

/* footer-start  */
.footer-section{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    height: auto;
    position: absolute;
    bottom: 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin:0px 80px;
    color: grey; 
}
.footer-content-1{
    margin-top: 5%;
}
.footer-heading-1 h4{
    font-size: 3vw;
    color: white;
}
.footer-content-1 ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.footer-content-1 ul li{
    list-style: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0px;
}
.footer-content-1 ul li i{
    font-size: 18px;
    color: #3795BD;
}
.footer-socialmedia-icons {
    font-size: 22px;
    display: flex;
    gap: 30px;
    margin-top: 15%;
}
.footer-socialmedia-icons a{
    color: #3795BD;
}
.footer-content-2{
    margin-top: 6%;
}
.footer-content-2 h6{
    font-size: 1.8vw;
    color: white;
}
.footer-content-2 ul{
    margin-top: 20%;
    padding: 0;
}
.footer-content-2 ul li{
    list-style: none;
    padding: 5px 0px;
}
.footer-content-2 ul li a{
    text-decoration: none;
    color: grey;
    font-size: 18px;
}
.footer-content-3{
    margin-top: 6%;
}
.footer-content-3 h6{
    font-size: 1.8vw;   
    color: white;
}
.footer-content-3 p{
    font-size: 18px;
    width: 380px;
    margin-top: 10%;
}
.footer-input{
    display: flex;
}
.footer-mail{
    height: 50px;
    width: 250px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    outline: none;
}
.footer-btn{
    width: 120px;
    height: 50px;
    background-color: #3795BD;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
}
.footer-line{
    width: 100%;
    height: 1px;
    background-color: grey;
    display: inline-block;
    margin-top: 5%;
}
.copyrightline{
    color: grey;
}
.footer-copyright-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px;
}
.copyrightline p{
    margin-top: 15px;
}
.copyrightline i{
    color: #3795BD;
}
.footer-payment-methods{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-img-1{
    width: 40px;
    height: 25px;
}
.footer-img-2{
    width: 40px;
    height: 25px;
}
.footer-img-3{
    width: 40px;
    height: 25px;
}
.footer-img-4{
    width: 40px;
    height: 25px;
}

/* Footer-Responsive  */

@media (max-width:992px){
    .footer-container{
        margin:0px 50px;
    }       
    .footer-copyright-content{
        margin: 0px 50px;
    }
}

@media (max-width:850px){
    .footer-container{
        margin:0px 20px;
    }       
    .footer-copyright-content{
        margin: 0px 20px;
    }
    .footer-content-1 ul li{
        font-size: 16px;
        gap: 10px;
    }
    .footer-content-2 ul li a{
        font-size: 16px;
    }
    .footer-content-3 p{
        font-size: 16px;
        width: 300px;
    }
    .footer-mail{
        width: 200px;
    }
    .footer-btn{
        width: 100px;
    }
    .footer-socialmedia-icons {
        gap: 20px;
    }
    .copyrightline p{
        font-size: 14px;
    }
}

@media (max-width:700px){
    .footer-container{
        display: flex;
        flex-direction: column;
        margin:0px 50px;
    }
    .footer-content-1{
        margin-top: 15%;
    }
    .footer-heading-1 h4{
        font-size: 8vw;
    }
    .footer-content-1 ul{
        margin-top: 5%;
    }
    .footer-content-1 ul li{
        font-size: 20px;
        padding: 8px 0px;
    }
    .footer-content-1 ul li i{
        font-size: 20px;
    }
    .footer-socialmedia-icons {
        font-size: 25px;
        margin-top: 10%;
    } 
    .footer-content-2{
        margin-top: 6%;
    }
    .footer-content-2 h6{
        font-size: 30px;
        margin-top: 10%;
    }
    .footer-content-2 ul{
        margin-top: 5%;
    }
    .footer-content-2 ul li{
        padding: 8px 0px;
    }
    .footer-content-2 ul li a{
        font-size: 20px;
    }
    .footer-content-3{
        margin-top: 6%;
    }
    .footer-content-3 h6{
        font-size: 30px;   
    }
    .footer-content-3 p{
        font-size: 20px;
        width: 380px;
        margin-top: 5%;
    }
    .footer-input{
        margin-top: 5%;
    }  
    .footer-copyright-content{
        margin: 0px 50px;
    }
    .copyright-para p{
        font-size: 16px;
        width: 200px;
    }
}

@media (max-width:450px){
    .footer-container{
        margin: 0px 10px;
    }
    .footer-content-3 p{
        width: 300px;
    }
    .footer-copyright-content{
        margin: 0px 10px;
    }
    .copyright-para p{
        font-size: 16px;
        width: 150px;
    }
    .footer-payment-methods{
        gap: 5px;
    }
}
